#body-index {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  background: linear-gradient(270deg, #1b1429, #140f23);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #9784c230;
}

.container-nav {
  height: 80px;
  background: #241b37;
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-img {
  width: 85px;
  margin-left: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-item {
  padding: 25px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-size: larger;
}

.nav-link:hover {
  color: #f5851d;
}

#container-h1-intro {
  font-size: 50px;
  line-height: 100px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  float: left;
  color: #aaddff;
}

.container-border {
  align-items: center;
  max-width: auto;
  margin: 100px 50px 0px 50px;
}

#model-container {
  width: 50px;
  height: 500px;
  display: inline;
  position: fixed;
}
