#body-index {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  background: linear-gradient(270deg, #1b1429, #140f23);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #9784c230;
}

.container-nav {
  height: 80px;
  background: #241b37;
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-img {
  width: 85px;
  margin-left: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-item {
  padding: 25px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-size: larger;
}

#container-h1 {
  font-size: 50px;
  line-height: 100px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  float: left;
  color: #aaddff;
}

.container-inline-border {
  align-items: center;
  display: flex;
  margin: 50px 50px 0px 50px;
  justify-content: space-between;
}

.container-border {
  margin: 50px 50px 0px 50px;
}

.text-li-item {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  float: left;
  color: #aaddff;
}

#model-container {
  width: 550px;
  height: 800px;
  margin-top: 20px;
}

#stars1,
#stars2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#circle {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgb(44, 36, 62);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, height 0.3s, background 0.3s;
}

#underline:hover {
  background: linear-gradient(to right, #aaddff, #aaddff, #aaddff);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background 0.3s;
}

#circle:hover {
  width: 55px;
  height: 55px;
  background: #9784c230;
}

.circle-item {
  width: 35px;
  height: 35px;
}
